/* Begin aangeleverde code, laten staan, niet veranderen */
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

img{
    width: 200px;
}
header, main, footer{
    width: 100%;
}
header, footer{
    height: 20%;
    background-color: rgb(243, 157, 171);
}
main{
    height: 80%;
    background-color: lightpink;
}

